*{
    margin:0;
    padding:0;
}
.main-content{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.heading{
    padding-top:1%;
    font-style:italic;
    font-weight:bold;
    font-size:30px;
    border-bottom: 1px solid black;
    width:70rem;
    margin-bottom: 0.5rem;;
    
}
.heading2{
    padding-top:2%;
    font-style:italic;
    font-weight:bold;
    font-size:30px;
}
.text{
    font-size:20px;
}
.list{
    padding-left:6%;
    font-size:20px;
}
.name{
    padding-top:2%;
    font-weight:bold;
    font-size:30px;
}
.tech-qual{
    display:flex;
}
.education{
    width:60%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.education > div{
    display:flex;
    flex-direction:column;
    height:100%;
    
    
}
.education-container{
    width:100%;
    display:flex;
    justify-content:center;
    

}
.contact{
    display:flex;
    border-top:1px solid black;
    border-bottom:1px solid black;
    width:70rem;
    justify-content:center;
}
.contact li{
    display:inline;
}

.tech-qual{
    justify-items:center;
    display: flex;
    flex-direction: column;
    align-items:start;
}